.input {
    display:flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    position: relative;
    
}   
.inputBox {
    padding: 25px ;
    width: 100%;
    border-radius: 50px;
    border: none;
    margin-left: 90px;
   
}
.goButton {
    position: absolute;
    right: 0px;
    width:50px;
    font-size: 20px;
    font-weight: bold;
    background-color: brown;
    border: none;
    border-radius: 100px;
    padding: 10px;
    height: 50px;
    margin: 10px;
}